<%= simple_form_for @api_param, :html => { :class => "form-horizontal" } do |f| %>

  <div class='col-sm-6'>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :required %>
    <%= f.submit nil, :class => 'btn btn-primary', value: 'Update' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              hotmart_params_path, :class => 'btn btn-default' %>
  </div>

<% end %>
