<%= simple_form_for @api_param, :html => { :class => "form-vertical" },
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>

  <div class="col-sm-5">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :data_type, collection: DataType.all %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= f.simple_fields_for :accepted_values do |accepted_values| %>
          <%= render 'accepted_value_fields', f: accepted_values %>
          <%= link_to_add_association I18n.t('api.api_param.accepted_values_link'), f, :accepted_values, html_options: {:class => 'btn btn-default'} %>
        <% end %>
      </div>
    </div>

    <%= f.submit nil, :class => 'btn btn-primary', value: 'Update' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              script_api_path(@api_name), :class => 'btn btn-default' %>
  </div>
<% end %>
