<%- model_class = @api_name.constantize -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @api_param.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @api_param.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_type) %>:</strong></dt>
  <dd><%= @api_param.data_type.name %></dd>
  <% if params[:type] == 'HotmartParam' %>
    <dt><strong><%= model_class.human_attribute_name(:show_in_activation_rule) %>:</strong></dt>
    <dd><%= @api_param.show_in_activation_rule %></dd>
  <% end %>
  <% unless @api_param.accepted_values.blank? %>
    <dt><strong><%= model_class.human_attribute_name(:accepted_values) %>:</strong></dt>
    <dd></dd>
  <% end %>
  <% @api_param.accepted_values.each do |accepted_value| %>
    <dt><strong><%= model_class.new.accepted_values.human_attribute_name(:value) %>:</strong></dt>
    <dd><%= accepted_value.value %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              script_api_path(@api_name), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              script_api_path(@api_name, @api_param, :edit), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              script_api_path(@api_name, @api_param),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

