<div class="row form-group">
  <div class="col-md-5">
    <%= link_to '?', '#', "data-toggle" => "tooltip",
                          title: f.object.api_param.description,
                          "data-placement" => "top" %>
    <%= f.label f.object.api_param.name %>
    <%= f.input_field :api_param_id, as: :hidden, value: f.object.api_param.id %>
    <%= f.input_field :argument_id, as: :hidden, value: f.object.id %>
  </div>
  <div class="col-md-7">
    <%= f.input_field :value, create_options(f.object.api_param) %>
  </div>
</div>