<div class="page-header">
  <h1>Associações de Regras</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped" id='data_table'>
    <thead>
      <tr>
        <th>Regra Hotmart</th>
        <th>Regras Mailchimp</th>
        <th class="col-sm-2">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @activation_rules.each do |ac_rule| %>
        <% unless ac_rule.mailchimp_actuation_rules.blank? %>
          <tr>
            <td><%= ac_rule.name %></td>
            <td>
              <% ac_rule.mailchimp_actuation_rules.each do |mc_rule| %>
                <%= mc_rule.name %> <br />
              <% end %>
            </td>
            <td>
              <%= link_to 'Exibir', rule_association_path(ac_rule), class: 'btn btn-success btn-xs'  %>
              <%# link_to 'Editar',
                          edit_activation_rule_path(rule), :class => 'btn btn-default btn-xs' %>
              <%= link_to 'Excluir',
                          rule_association_path(ac_rule),
                          :method => :delete,
                          :data => { :confirm => 'Tem certeza?' },
                          :class => 'btn btn-xs btn-danger' %>
                          
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div

<br>

<%= link_to 'Novo',
            new_rule_association_path,
            :class => 'btn btn-primary' %>
