<ul class="nav nav-tabs" role="tablist">
  <li class=<%= "active" if active_tab('HotmartApiKey') %>>
    <%= link_to t('api.hotmart'), edit_hotmart_api_key_path(current_user.hotmart_api_key.first.id) %>
  </li>
  <li class=<%= "active" if active_tab('MailchimpApiKey') %>>
    <%= link_to t('api.mailchimp'), edit_mailchimp_api_key_path(current_user.mailchimp_api_key.first.id) %>
  </li>
  <li class=<%= "active" if active_tab('HelpscoutApiKey') %>>
    <%= link_to t('api.helpscout'), edit_helpscout_api_key_path(current_user.helpscout_api_key.first.id) %>
  </li>
</ul>

<% if request.path =~ /^\/hotmart_api_keys\// %>
  <mark><%= notification_url(current_user.hotmart_token) %></mark>
<% end %>
<% if request.path =~ /^\/helpscout_api_keys\// %>
  <mark><%= notification_url(current_user.helpscout_token) %></mark>
<% end %>
<%= render :partial => 'form' %>