<ul class="nav nav-tabs" role="tablist">
  <li class=<%= "active" if active_tab('hotmart') %>>
    <%= link_to t('api.hotmart'), edit_api_key_path(api: :hotmart) %>
  </li>
  <li class=<%= "active" if active_tab('mailchimp') %>>
    <%= link_to t('api.mailchimp'), edit_api_key_path(api: :mailchimp) %>
  </li>
  <li class=<%= "active" if active_tab('helpscout') %>>
    <%= link_to t('api.helpscout'), edit_api_key_path(api: :helpscout) %>
  </li>
</ul>

<% if @api == 'hotmart' %>
  <mark><%= notification_url(@user.token) %></mark>
<% end %>
<%= render :partial => 'form', locals: { api: @api } %>