<%= simple_form_for @activation_rule, :html => { :class => "form-vertical" },
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>

  <div class="col-sm-7">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.simple_fields_for :activation_params, @activation_rule.activation_params do |builder| %>
      <%= render 'activation_param_fields', f: builder %>
    <% end %>

    <%= f.submit nil, :class => 'btn btn-primary', value: 'Update' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              activation_rules_path, :class => 'btn btn-default' %>
  </div>
<% end %>
