<%- model_class = @activation_rule_name.constantize -%>
<div class="page-header">
  <h1>Regras Hotmart</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped" id='data_table'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th class="col-sm-3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @activation_rules.each do |rule| %>
        <tr>
          <td><%= rule.name %></td>
          <td><%= rule.description %></td>
          <td>
            <%= link_to 'Exibir', rule, class: 'btn btn-success btn-xs'  %>
            <%= link_to 'Editar', edit_activation_rule_path(rule), :class => 'btn btn-default btn-xs' %>
            <%= link_to 'Excluir', rule,
                        :method => :delete,
                        :data => { :confirm => 'Tem certeza?' },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div

<br>

<%= link_to 'Novo', new_activation_rule_path, :class => 'btn btn-primary' %>
