<%- model_class = @activation_rule_name.constantize -%>
<div class="page-header">
  <h1>Exibir Regra Hotmart</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @activation_rule.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @activation_rule.description %></dd>
  <dt><strong><%= 'Parameters'.humanize %>:</strong></dt>
  <dd></dd>
  <% @activation_rule.activation_params.each do |activation_param| %>
    <dt><strong><%= ApiParam.human_attribute_name(activation_param.api_param.name) %>:</strong></dt>
    <dd><%= (activation_param.api_param.name == 'purchase_date_start' || activation_param.api_param.name == 'purchase_date_end') ? activation_param.value.to_date.try(:strftime, "%d/%m/%Y") : activation_param.value %></dd>
  <% end %>
<dl>

<%= link_to 'Voltar', activation_rules_path, :class => 'btn btn-default' %>
<%= link_to 'Editar', edit_activation_rule_path(@activation_rule), :class => 'btn btn-default' %>
<%= link_to 'Duplicar', new_activation_rule_path(id: @activation_rule.id), :class => 'btn btn-warning' %>
<%= link_to 'Excluir',
              @activation_rule,
              :method => 'delete',
              :data => { :confirm => 'Tem certeza?' },
              :class => 'btn btn-danger' %>
