<%= simple_form_for @mailchimp_actuation_rule, :html => { :class => "form-vertical" },
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>

  <div class="col-sm-10">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input_field :api_method_id, as: :hidden, value: @method.id if @method %>
    <%= f.simple_fields_for :actuation_params, @mailchimp_actuation_rule.actuation_params do |builder| %>
      <%= render 'actuation_param_fields', f: builder %>
    <% end %>
    <%= f.submit nil, :class => 'btn btn-primary', value: 'Update' %>
    <%= link_to 'Cancelar', mailchimp_actuation_rules_path, :class => 'btn btn-default' %>
  </div>
<% end %>