<%- model_class = MailchimpActuationRule -%>
<div class="page-header">
  <h1>Exibir Regra Mailchimp</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @mailchimp_actuation_rule.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @mailchimp_actuation_rule.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:api_method_id) %>:</strong></dt>
  <dd><%= @mailchimp_actuation_rule.api_method.name %></dd>
  <% @mailchimp_actuation_rule.actuation_params.each do |param| %>
    <dt><strong><%= ApiParam.human_attribute_name(param.argument.api_param.name) %>:</strong></dt>
    <dd><%= param.placeholder.blank? ? param.value : param.placeholder %></dd>
  <% end %>
<dl>

<%= link_to 'Voltar', mailchimp_actuation_rules_path, :class => 'btn btn-default' %>
<%= link_to 'Editar', edit_mailchimp_actuation_rule_path(@mailchimp_actuation_rule), :class => 'btn btn-default' %>
<%= link_to 'Excluir',
            mailchimp_actuation_rule_path(@mailchimp_actuation_rule),
              :method => 'delete',
              :data => { :confirm => 'Tem certeza?' },
              :class => 'btn btn-danger' %>