<%= form_for(@hotmart_param) do |f| %>
  <% if @hotmart_param.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotmart_param.errors.count, "error") %> prohibited this hotmart_param from being saved:</h2>

      <ul>
      <% @hotmart_param.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
